<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewYorkSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3A6A50B205799D300F90F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A6A523205799D400F90F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A6A52E205799D400F90F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
